extends layout

block head  
    link(rel="stylesheet", href="/stylesheets/index.css")

block content

  a#playbutton.playbutton(href='/newSfida') Gioca

  // HOMEPAGE
  #homepage.home
    h1.title Trivia Stack
    if msg
      h4=msg
    .descrizione
      h2 Metti alla prova le tue conoscenze ora con questo quiz!
      h3 Sfida a tempo illimitato: alla prima risposta errata il gioco sar&agrave; finito!
    hr
    .top3
      h1 TOP 3
      table
        thead
          tr 
            th #
            th Nome 
            th Cognome 
            th Punteggio
        tbody
          each giocatore, index in classifica
            tr
              td #{index}
              td #{giocatore.nome}
              td #{giocatore.cognome}
              td #{giocatore.punteggio}
          

  


