extends layout

block head  
    link(rel="stylesheet", href="/stylesheets/sfida.css")

block content
  h1= title

  form.scelta(method='POST' onSubmit='/')

    label(for='difficolta') Scegli la difficoltà 
    select#difficolta(name='difficolta')
        option(value='easy') Facile
        option(value='medium') Medio
        option(value='hard') Difficile

    br
    br

    - var i = 0
    each key in listaCategorieTradotto
        input(id=listaCategorieValue[i] type='checkbox' name='cat' value=listaCategorieValue[i])
        label(for=listaCategorieValue[i]) #{key}
        - i++
        br

    br

    input.submit(type='submit' value='Gioca')
    