doctype html
html
  head
    title= title

    // Google Icons
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/stylesheets/sfida.css")
    script(src="/javascripts/sfida.js") 
    

  body 
    form(method='POST' onSubmit='/')

      h1= domanda 
      
      if audioDomandaIT != "-1"
        img.audioIcon(src='https://upload.wikimedia.org/wikipedia/commons/thumb/0/03/Flag_of_Italy.svg/1280px-Flag_of_Italy.svg.png' onclick='playAudio("domandaIT")')
        audio#domandaIT.audio(controls='' src=audioDomandaIT)

      if audioDomandaEN != "-1"
        img.audioIcon(src='https://upload.wikimedia.org/wikipedia/commons/8/83/Flag_of_the_United_Kingdom_%283-5%29.svg' onclick='playAudio("domandaEN")')
        audio#domandaEN.audio(controls='' src=audioDomandaEN)

      br

      div
        each key in risposte
          input#risposta(type='radio' name='risposta' value=key required)
          label(for=key) #{key}
          br
        
      br    

      input(type='submit' value='Prossima domanda')
    h2 Punteggio corrente: #{punteggio}