extends layout

block head
    link(rel="stylesheet", href="/stylesheets/user.css")

block content
    .container
        .container_content
            if user
                h1 Profilo Utente
                h2 #{user.nome} #{user.cognome}
                h2 ##{user._id}
                if user.email
                    h2 #{user.email}
                .highscore
                    .highscore_element
                        span.material-icons all_inclusive
                        h3 #{user.highscore_nolimits}
                    .highscore_element
                        span.material-icons timer
                        h3 #{user.highscore_timer}
            else
                h1 Utente non trovato
                a(href="/") Torna alla homepage 
