extends layout

block head
    link(rel="stylesheet", href="/stylesheets/user.css")

block content
    .container
        .container_content
            if user
                h1 Profilo Utente
                h2 #{user.nome} #{user.cognome}
                h2 ##{user.username}
                if user.email
                    h2 #{user.email}
                .highscore
                    h3 Highscore: #{user.punteggio}
            else
                h1 Utente non trovato
                a(href="/") Torna alla homepage 
